!!! 5
html
  head
    title=title
    meta(charset='utf-8')
    link(rel='stylesheet', href="#{project.root}docs.css")
    style !{css}
  body
    .styledocco-container
      .styledocco-sidebar
        include menu
      .styledocco-content
        each section, i in sections
          section !{section}
include footer
