/* # StyleDocco 0.3.0 default styles */

/* `body`, `a`, `code` and `pre` are the only global styles we define, keep
   others under prefixed class names to reduce risk of conflicts.*/

body {
    margin: 0;
    font: 13px/1.6 sans-serif;
    background-color: #fafafa;
    /* Using gradients for faux columns and checkerboard pattern.
       We use a checkerboard pattern to be able to see the edges of elements regardless of their color. */
    background-image: -webkit-linear-gradient(left, transparent 56%, #eee 56%),
                      -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
                      -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image:    -moz-linear-gradient(left, transparent 56%, #eee 56%),
                         -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
                         -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image:     -ms-linear-gradient(left, transparent 56%, #eee 56%),
                          -ms-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
                          -ms-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image:      -o-linear-gradient(left, transparent 56%, #eee 56%),
                           -o-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
                           -o-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-size: 100%, 20px 20px, 20px 20px;
    background-position: 0 0, 0 0, 10px 10px;
    background-attachment: fixed;
}
/* <a href="#">Link example</a> */
a {
    color: #15a;
    text-decoration: none;
}
/* <code>Inline code</code> */
code, pre {
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: .05em .3em;
    font-size: .9em;
    font-family: monospace;
}
/* <pre><code>Code
block</code></pre> */
pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: .5em 1em;
}
pre code {
    border: 0;
    background: transparent;
    padding: 0;
    font-size: inherit;
}

/* ## Sidebar
Stays fixed to the left, with its own scrollbar. */
.styledocco-sidebar {
    position: fixed;
    left: 0;
    height: 100%;
    width: 12%;
    word-wrap: break-word;
    overflow-y: hidden;
    overflow-x: auto;
    background: #333;
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .5);
    box-shadow:      0 0 4px rgba(0, 0, 0, .5);
    font: 13px/1.6 sans-serif;
}

/* <span class="styledocco-brand">Project name</span> */
.styledocco-brand {
    display: block;
    padding: 0 10%;
    text-align: center;
    background: #222;
    margin: 0 0 1em;
    color: #fff;
    font-size: 16px;
    line-height: 2;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
}
/* ### Menu */
.styledocco-nav {
    margin: 0;
    padding: 0;
}
.styledocco-nav li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.styledocco-nav-heading {
    display: block;
    background: #888;
    font-size: 13px;
    padding: .3em 5%;
    margin: 1.5em 0 .5em;
    text-shadow: 0 0 1px rgba(255, 255, 255, .5);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
    box-shadow:      1px 1px 2px rgba(0, 0, 0, .5);
}
.styledocco-nav a {
    display: block;
    padding: .1em 10%;
    color: #ddd;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .5);
}
.styledocco-nav a:active,
.styledocco-nav a:focus,
.styledocco-nav a:hover {
    background: #444;
}
.styledocco-nav a.styledocco-is-active {
    font-weight: bold;
}
/* ## Main content */
.styledocco-content {
    margin-left: 12%;
}
.styledocco-code,
.styledocco-docs {
    width: 50%;
    box-sizing: border-box;
    padding: 0 2em;
    float: left;
}
.styledocco-code {
    float: right;
}
/* `!important` everywhere as we don't want any imported stylesheets to interfere. */
.styledocco-code pre {
    padding: 0 !important;
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
    border: 0 !important;
    background: transparent !important;
}
.styledocco-code code {
    padding: 0 !important;
    background: transparent !important;
    border: 0 !important;
    font-size: 12px !important;
    font-family: monospace !important;
    line-height: 1.3 !important;
}
.styledocco-row:before, .styledocco-row:after {
    display: table;
    content: "";
}
.styledocco-row:after {
    clear: both;
}

/* ## Responsive styles */

@media (max-width: 979px) {

/* Slightly wider sidebar. */
.styledocco-sidebar {
    width: 16%;
}
.styledocco-content {
    margin-left: 14%;
}

}


@media (max-width: 640px) {

/* Move menu to the top. */
.styledocco-sidebar {
    position: static;
    height: auto;
    width: 100%;
    overflow: visible;
}
.styledocco-brand {
    margin: 0;
}
/* Two menu alternatives per row, except headings. */
.styledocco-nav-heading {
    clear: both;
    text-align: center;
}
.styledocco-nav li {
    float: left;
    width: 50%;
}
.styledocco-nav li:nth-child(odd) {
    clear: left;
}
.styledocco-nav a {
    padding: .5em 1em;
}
.styledocco-nav:before, .styledocco-nav:after {
    display: table;
    content: "";
}
.styledocco-nav:after {
    clear: both;
}

/* **Hide code view**.  
Maybe we can find a decent way to display it on demand later. */
.styledocco-code {
    display: none;
}
.styledocco-docs {
    margin: 0;
    width: 100%;
}
.styledocco-content {
    margin: 0;
}
body {
    /* Only keep the checkerboard pattern. */
    background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
                      -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image:    -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
                         -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image:     -ms-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
                          -ms-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image:      -o-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
                           -o-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-size: 20px 20px, 20px 20px;
    background-position: 0 0, 10px 10px;
}

}
