!!! 5
html
  head
    title=title
    meta(charset='utf-8')
    link(rel='stylesheet', href="#{project.root}docs.css")
  body#styledocco
    .styledocco-container
      .styledocco-sidebar
        include menu
      .styledocco-content
        .styledocco-docs !{content}
include footer
