- var root_path = relative_base(file_path)
- root_path = (root_path == "./") ? root_path : root_path.replace(/[^\/]+/g, '..')
!!! 5
html
  head
    title=title
    meta(charset='utf-8')
    link(rel='stylesheet', href="#{root_path}docs.css")
  body
    include menu
    .container !{content}
    footer.container Generated #{new Date()}
