!!! 5
html
  head
    title=title
    meta(charset='utf-8')
    link(rel='stylesheet', href="#{rootPath}docs.css")
  body
    include menu
    .container !{content}
    footer.container Generated #{new Date()}
