!!! 5
html
  head
    title=title
    meta(charset='utf-8')
    link(rel='stylesheet', href="#{project.root}docs.css")
  body
    if project.links.length > 0
      include menu
    .container !{content}
    footer.container Generated #{new Date()}
