/* # Structured
An example of a CSS file using most of StyleDocco's features. */

body {
    background: white;
    color: black;
}

/* ## Second level header
Some random text. */

p {
    margin: 0;
}

/*
 * * * 
 */

b {
    font-weight: italic;
}
/* This is in a new section

```
And here is some code
```

    This is also code
*/
