/** # Previews and code
Previews are rendered in sandboxed iframes with the documented CSS applied.
The code is editable and the previews will be automatically updated.

The width of the previews can be adjusted to test responsive designs. The
height will be automatically adjusted to fit the content. Free hand resizing
currently only works properly in Firefox. In WebKit browsers you can only
enlarge the previews and other browsers have not implemented CSS `resize`. */
.preview {
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 0;
  margin-top: 1em;
  padding: 10px;
  resize: both;
  background: hsl(200, 0%, 100%);
  border-top-left-radius: 0; border-top-right-radius: 0;
  box-shadow: 0 0 3px hsla(200, 14%, 45%, .25);
}
  .preview-code + .preview {
    margin-top: 0;
    border-top: 0;
  }
.preview iframe {
  display: block;
  width: 100%;
  overflow: hidden;
  max-height: 100%;
  min-height: 100%;
}
/** Editable code blocks will be automatically resized to fit the text inside.

    <textarea class="preview-code">Code</textarea>
*/
.preview-code {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
}
.preview-code code {
  position: relative;
  z-index: 2;
  display: block;
  margin: 0;
  width: 100%;
  padding: .5em;
  max-height: 200px;
  overflow-y: auto;
  resize: none;
  color: hsl(200, 14%, 28%);
  background: hsl(200, 47%, 93%);
  border: 1px solid hsl(200, 47%, 85%);
  border-top: 0;
  box-shadow: inset 0 1px 2px hsla(200, 14%, 28%, .25);
  border-radius: 0 0 3px 3px;
  font-size: 0.8em;
  -webkit-transition: all .2s ease-out;
  -moz-transition:    all .2s ease-out;
  -o-transition:      all .2s ease-out;
  transition:         all .2s ease-out;
  opacity: .9;
}
  .preview-code code:focus,
  .preview-code code:hover {
    background: hsl(200, 47%, 94%);
    opacity: 1;
  }
  .preview-code code:focus {
    background: hsl(200, 47%, 95%);
    box-shadow: inset 0 1px 2px hsla(200, 14%, 28%, .15),
                      0 0   3px hsla(200, 70%, 35%, .3);
  }
  .preview-code:last-child code {
    border-bottom: 0;
    border-radius: 0 0 5px 5px;
  }
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: hsl(200, 14%, 70%);
}

.token.punctuation {
  color: hsl(200, 14%, 60%);
}
.namespace {
	opacity: .7;
}
.token.property,
.token.tag,
.token.boolean,
.token.number {
  color: hsl(6, 72%, 31%);
}

.token.selector,
.token.attr-name,
.token.string {
  color: hsl(200, 14%, 45%);
  color: hsl(6, 34%, 56%);
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: hsl(6, 34%, 56%);
	background: hsla(0, 0%, 100%, .25);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: hsl(200, 47%, 35%);
}


.token.regex,
.token.important {
	color: #e90;
}

.token.important {
	font-weight: bold;
}
