.brand {
  float: left;
  margin-right: 20px;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
}
.brand, a.brand, a.brand:visited {
  color: hsl(27, 5%, 5%);
  text-shadow: 1px 1px 0 hsla(27, 5%, 100%, .2);
}
  .brand:hover, a.brand:hover {
    color: hsl(27, 5%, 0%);
    text-shadow: 1px 1px 0 hsla(27, 5%, 100%, .3);
    text-decoration: none;
  }


.menu {
  font-size: 12px;
}
.menu > li {
  float: left;
  position: relative;
}
.menu a {
  display: block;
  margin-right: 15px;
}


