body {
    background: white; /* Set background */
    /* Good contrast */
    color: black;
}

/* An example of a reasonbly well written CSS file that you would find in "the wild", but without any Markdown. */

p {
    margin: 0; /* Reset margin */
}
