/* # Structured
An example of a CSS file using most of StyleDocco's features.
 
## Second level heading
Lorem ipsum

---

A new section

    <p>With a code example</p>
*/

body {
    background: white;
    color: black;
}

/*
Some more text in the same section.

# First level heading
Some random text.

---

## Another section in the same comment block.

Some <b>HTML</b> that should not be escaped.
*/

p {
    margin: 0;
}

b {
    font-weight: italic;
}
/* This is in the same section.

```
And here is some code
```

    This is also code
*/

/* * * * */

/* Dolor sit amet */
