/* # Structured
An example of a CSS file using most of StyleDocco's features.
 
## Another heading
Lorem ipsum*/

body {
    background: white;
    color: black;
}

/*
Some more text

## Second level header
Some random text.

## Another section in the same comment block.

Some <b>HTML</b> that should not be escaped.
*/

p {
    margin: 0;
}

b {
    font-weight: italic;
}
/* This is in the same section.

```
And here is some code
```

    This is also code
*/
