/*
StyleDocco layout structure and shared styles
=============================================
Defines typography, colors and base layouts for StyleDocco.
*/
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  /* Top/bottom paddings for bars */
  margin: 0;
  padding: 4em 0;
}
/* The main content is centered in a container with a maximum width of **1100px**. */
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}
iframe, img {
  border: 0;
}


/*
Colors
------
The primary hue is **200°**, and the secondary hue is **6°**. 
All colors are specified with `hsl` or `hsla`, so tints and shades are easily
accomplished by adjusting the saturation and brightness.

<table class="_docs-color-table">
  <tr>
    <th>Primary Color
    <td style="background:hsl(200, 47%, 35%)"><code>hsl(200, 47%, 35%)</code>
    <td style="background:hsl(200, 70%, 20%)"><code>hsl(200, 70%, 20%)</code>
    <td style="background:hsl(200, 14%, 45%)"><code>hsl(200, 14%, 45%)</code>
    <td style="background:hsl(200, 32%, 28%)"><code>hsl(200, 32%, 28%)</code>
    <td style="background:hsl(200, 14%, 28%)"><code>hsl(200, 14%, 28%)</code>
  </tr>
  <tr>
    <th>Secondary Color
    <td style="background:hsl(6, 65%, 45%)"><code>hsl(6, 60%, 54%)</code>
    <td style="background:hsl(6, 72%, 31%)"><code>hsl(6, 72%, 31%)</code>
    <td style="background:hsl(6, 34%, 56%)"><code>hsl(6, 34%, 56%)</code>
    <td style="background:hsl(6, 64%, 60%)"><code>hsl(6, 64%, 60%)</code>
  </tr>
</table>
*/
body {
  background-color: #fefeff; /* We can't get this light with hsl */
  color: hsl(200, 14%, 28%);
}
h1, h2, h3, h4, h5, h6,
th, strong {
  color: hsl(200, 32%, 28%);
}
/*
    <a href="#">Link</a>
    <a href="#" class=":hover">Hovered link</a>
*/
a {
  color: hsl(6, 65%, 45%);
}
  a:hover {
    color: hsl(6, 72%, 31%);
  }


/*
Typography and whitespace
-------------------------
We use the generic `sans-serif` font family to get Arial on Windows and
Helvetica on Mac. The body font-size is
[left at the browser default](http://filamentgroup.com/lab/how_we_learned_to_leave_body_font_size_alone/),
with body text scaled down to the equivalent of **14px**. The line height is
set to **1.618**.

    <p>Lorem ipsum dolor sit amet.</p>
*/
body {
  font-family: sans-serif;
  line-height: 1.618; /* 22.652px */
}
p, ul, ol,
pre, table,
h5, h6 {
  font-size: 0.875em; /* 14px */
}
/* Headings get font-sizes at a [ratio of 4:5](http://modularscale.com),
but we skip a few steps.

    <h1>Heading 1</h1>
    <h2>Heading 2</h2>
    <h3>Heading 3</h3>
    <h4>Heading 4</h4>
    <h5>Heading 5</h5>
    <h6>Heading 6</h6>
*/
h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}
h1, h2 {
  font-weight: normal;
}
h1, h2, h3 {
  letter-spacing: -.025em;
}
h1 {
  font-size: 2.67em;
}
h2 {
  font-size: 2.136em;
}
h3 {
  font-size: 1.367em;
}
h4 {
  font-size: 1.094em;
}
h5 {
  text-transform: uppercase;
}
/* All body content get **½ em** bottom margin. Headings get **2 em** top margin
and other elements **1 em** top margin. Adjactent headings get a reduced top
margin.

    <h1 style="background:powderblue">Heading</h1>
    <h3 style="background:powderblue">Heading</h3>
    <h2 style="background:powderblue">Heading</h2>
    <h2 style="background:powderblue">Heading</h2>
    <h4 style="background:powderblue">Heading</h4>
    <h5 style="background:powderblue">Heading</h5>
    <p style="background:powderblue">Paragraph</p>
    <ol style="background:powderblue"><li>List</ol>
*/
h1, h2, h3, h4, h5, h6 {
  margin: 2em 0 .5em;
}
  h1:first-of-type,
  h1 + h1, h1 + h2, h1 + h3, h1 + h4, h1 + h5,
  h2 + h2, h2 + h3, h2 + h4, h2 + h5,
  h3 + h3, h3 + h4, h3 + h5,
  h4 + h4, h4 + h5 {
    margin-top: .5em;
  }
  h1 + h5, h2 + h5, h3 + h5, h4 + h5, h5 + h5,
  h1 + h6, h2 + h6, h3 + h6, h4 + h6, h5 + h6, h6 + h6 {
    margin-top: 1em;
  }
table, pre,
p, ul, ol {
  margin: 1em 0 .5em;
}
ul, ol {
  padding-left: 2em;
}

/* Add the `ui` class to an element to remove all margins, padding and list
styles from it and its children.

    <div class="ui">
      <ul><li>List</ul>
      <p>Paragraph
    </div>
*/
.ui, .ui * {
  margin: 0;
  padding: 0;
  list-style: none;
}


/*
Interactive elements
--------------------
Links, buttons and inputs.

To show pseudo selectors styles in previews, add the pseudo selector
(including the `:`) in the `class` attribute of an element.

    <a href="#">Link</a> | <a href="#" class=":hover">Hovered link</a>
*/
a {
  text-decoration: none;
}
  a:hover {
    text-decoration: underline;
  }
/* Links inside headings only get hover styles.

    <h4><a href="#">Link</a> | <a href="#" class=":hover">Hovered link</a></h4>
*/
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  text-decoration: none;
}


/*
Code
----
For displaying code, we prefer [Ubuntu Mono](http://font.ubuntu.com),
falling back on some fonts that should look better at smaller sizes than the
default monospace fonts.

You can display non-HTML code snippets by specifying another language in the
code fence:

<pre><code>```php
&lt;?php echo "Hello World" ?&gt;
```
</code></pre>

<pre><code>```css
body { background: hotpink; }
```
</code></pre>
*/
pre, code, var {
  padding: .1em 3px;
  background: hsla(200, 20%, 93%, .5);
  border: 1px solid hsla(200, 47%, 85%, .5);
  border-radius: 3px;
  font-style: normal;
  font-family: "Ubuntu Mono", "Andale Mono", "DejaVu Sans Mono", "Monaco", "Bitstream Vera Sans Mono", "Consolas", "Lucida Console", monospace;
}
pre code {
  padding: 0;
  background: transparent;
  border: 0;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: .4em .5em .5em;
  overflow-y: auto;
  line-height: 1.1 !important;
}
