/*
StyleDocco layout structure and shared styles
=============================================
Defines typography, colors and base layouts for StyleDocco.
*/
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  /* Top/bottom paddings for bars */
  padding: 60px 0 40px;
  background-color: hsl(207, 10%, 90%);
  color: hsl(207, 5%, 30%);
}
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Bars
==========
Fixed to top or bottom with a minor drop shadow.

```
<nav class="bar top"></nav>
```
*/
.bar {
  position: fixed;
  left: 0; right: 0;
  z-index: 1010;
  min-height: 40px;
  line-height: 40px;
  background-image: -webkit-linear-gradient(hsla(207, 10%, 35%, .97),
                                            hsla(207,  5%, 25%, .92));
  background-image:    -moz-linear-gradient(hsla(207, 10%, 35%, .97),
                                            hsla(207,  5%, 25%, .92));
  background-image:      -o-linear-gradient(hsla(207, 10%, 35%, .97),
                                            hsla(207,  5%, 25%, .92));
  background-image:         linear-gradient(hsla(207, 10%, 35%, .97),
                                            hsla(207,  5%, 25%, .92));
}
.bar.top {
  top: 0;
  box-shadow: 0 1px 2px hsla(207, 5%, 0%, .2);
}
.bar.bottom {
  bottom: 0;
  box-shadow: 0 -1px 2px hsla(207, 5%, 0%, .2);
}

/*
# Typography and text styles

We use the generic `sans-serif` font family to get Arial on Windows and
Helvetica on Mac. The body font-size is set to 14px.

    Lorem ipsum dolor sit amet. */
body {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.618;
}
/* Paragraphs, lists, tables and blockquotes get some bottom margins as well
as side margins.

    <p>Paragraph #1
    <p>Paragraph #2
    <ul><li>List</ul> */
.docs pre, p, ol, ul, dl,
figure, blockquote, table {
  margin-left: 20px; margin-right: 20px;
}
.preview, .docs pre,
p, ol, ul, dl,
figure, blockquote, table {
  margin-top: 10px;
}
  ul ul, ol ol, ul ol, ol ul,
  blockquote p:last-child {
    margin-top: 0;
  }
ul, ol {
  padding-left: 1.5em;
}
p:last-child, ol:last-child, ul:last-child, dl:last-child {
  margin-bottom: 20px;
}
/* Headings get font-sizes at a modular scale of 5:6.

    <h1>Heading 1</h1>
    <h2>Heading 2</h2>
    <h3>Heading 3</h2>
    <h4>Heading 4</h2>
    <h5>Heading 5</h2>
    <h6>Heading 6</h3> */
hr,
h1, h2, h3, h4, h5, h6 {
  margin: 1em 20px .5em;
}
  h1:first-of-type {
    margin-top: 20px;
  }
h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  color: hsl(207, 10%, 50%);
}
h1 a, h1 a:hover, h1 a:visited {
  color: inherit;
  text-decoration: inherit;
}
h1 {
  font-size: 3.052em;
  font-weight: normal;
  color: hsl(207, 10%, 45%);
}
h2 {
  font-size: 1.953em;
}
h3 {
  font-size: 1.536em;
}
h1, h2, h3 {
  letter-spacing: -.025em;
}
h4 {
  font-size: 1.25em;
}
h5 {
  font-size: 1em;
  text-transform: uppercase;
}
h6 {
  font-size: 1em;
}
.permalink {
  position: absolute;
  top: 15px; right: 15px;
}

/*
# Links

To show pseudo selectors styles in previews, add the pseudo selector
(including the `:`) as a regular class.

    <a href="#">Link</a>
    <a href="#" class=":hover">Link</a>
    <a href="#" class=":visited">Link</a>
*/
a {
  color: hsl(207, 90%, 50%);
  text-decoration: none;
}
  a:hover {
    color: hsl(207, 95%, 40%);
    text-decoration: underline;
  }
  a:visited {
    color: hsl(207, 100%, 35%);
  }


