/** Bars
==========
Bars for navigation or settings, fixed to top or bottom. */
.bar {
  position: fixed;
  left: 0; right: 0;
  z-index: 1010;
  min-height: 3em;
  line-height: 3em;
/** The bars have a slightly faded background and a little transparency. */
  background-image: -webkit-linear-gradient(hsl(200, 14%, 95%),
                                           hsla(201, 14%, 88%, .97));
  background-image:    -moz-linear-gradient(hsl(200, 14%, 95%),
                                           hsla(200, 14%, 88%, .97));
  background-image:      -o-linear-gradient(hsl(200, 14%, 95%),
                                           hsla(200, 14%, 88%, .97));
  background-image:         linear-gradient(hsl(200, 14%, 95%),
                                           hsla(200, 14%, 88%, .97));
}
.bar {
  border: 0 solid hsla(200, 14%, 28%, .2);
}
/** The top bar also has a subtle drop shadow.

    <nav class="bar top"></nav>
*/
.bar.top {
  top: 0;
  border-bottom-width: 1px;
  box-shadow: 0 3px 1px hsla(200, 14%, 45%, .15);
}
.bar.bottom {
  bottom: 0;
  border-top-width: 1px;
}
